<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Tour<span style="color: black;">.ink</span></b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" style="color: rgb(49, 67, 119); border-bottom: 2px solid rgb(49, 67, 119);"
                    aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Booking Form</a>
                <a class="nav-link" href="#">Category</a>
                <a class="nav-link" href="#">About Us</a>
            </div>
            <div class="navbar-right">
                <a href="/login"><button class="btn btn-outline-light">Log In</button></a>
                <a href="/login"></a><button class="btn btn-dark">Sign Up</button></a>
            </div>
        </div>
    </div>
</nav>