<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <title>Tour</title>
  <link rel="stylesheet" href="stylesheets/landing.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>Tour<span style="color: black;">.ink</span></b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" style="color: rgb(49, 67, 119); border-bottom: 2px solid rgb(49, 67, 119);" aria-current="page" href="#">Home</a>

          <a class="nav-link" href="#AboutUs">About Us</a>
        </div>
        <div class="navbar-right">
          <button class="btn btn-outline-light">Log In</button>
          <a href="#SignUp" style="text-decoration: none;"><button class="btn btn-dark">Sign Up</button></a>
        </div>
      </div>
    </div>
  </nav>

  <section id="image-container">
    <div class="content">
      <p style="color: white; font-size: xx-large;">All you need is ...</p>
      <h1 id="exp" style="color: white;">#Join & Help Community</h1><br>
      <span id="left"><i class="fas fa-arrow-circle-left" style="color: white;"></i></span>
      <span id="name" style="color: white;">Food Donation Drive</span>
      <span id="right"><i class="fas fa-arrow-circle-right" style="color: white;"></i></span>
    </div>

  </section><br><br><br><br>

  <section id="AboutUs">
    <h1 style="font-weight: 900; color:white; text-align: center; font-size: xxx-large;">What we do</h1>
    <br>
    <br>
      <div class="container" style="color: white;">
          <div class="row">
            <div class="col-md-6">
                  <img src="assets/community.jpg" class="img-fluid" alt="" style="border-radius: 15px;">
            </div>
            <div class="col-md-6 px-5 d-flex flex-column justify-content-center" style="text-align: center;">
              <p style="font-size: 2.5em; color: rgb(101, 144, 238);">
                  Join the community of people with a goal of helping community!
              </p>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-6 px-5 d-flex flex-column justify-content-center" style="text-align: center;">
              <p style="font-size: 2.5em; color: rgb(101, 144, 238);">
                  Recruit & connect with willing voulnteers and build a strong community! 
              </p>
            </div>
            <div class="col-md-6">
                <img src="assets/selection.jpg" class="img-fluid" alt="" style="border-radius: 15px;">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
                <img src="assets/joinCharity.jpg" class="img-fluid" alt="" style="border-radius: 15px;">
            </div>
            <div class="col-md-6 px-5 d-flex flex-column justify-content-center" style="text-align: center;">
              <p style="font-size: 2.5em; color: rgb(101, 144, 238);">
                  Find and connect with NGO'S that support your cause! 
              </p>
            </div>
          </div>
      </div>
    
  </section><br><br>

  <section id="SignUp">
    <h1 style="font-weight: 900; color: white; font-size: xxx-large;">Sign Up As?</h1>
      <div class="container">
          <div class="row">
              <div class="col-md-4 py-4 px-3" style="height: fit-content;">
                <div class="cards" style="background-color: white; height: 450px; border-radius: 10px; padding: 15px;">
                    <div class="p-2 d-flex flex-column align-items-center" style="height: 50%; border-radius: 10px 10px 0px 0px;">
                        <img class="img-fluid" src="assets/user.jpg" alt="">
                        <hr style="color: grey; height: 15px; width: 90%;">
                        <h3>User</h3>
                        <p class="text-muted">
                            Looking for help from NGO.
                        </p>
                        <div style="position: relative; top: 25%;" class="sbtn btn btn-outline-dark px-3">SignUp</div>
                    </div>
                </div>
              </div>
              <div class="col-md-4 py-4 px-3" style="height: fit-content;">
                <div class="cards" style="background-color: white; height: 450px; border-radius: 10px; padding: 15px;">
                    <div class="px-2 py-4 d-flex flex-column align-items-center" style="height: 50%; border-radius: 10px;">
                        <img class="img-fluid pb-2" src="assets/ngo.jpg" alt="">
                        <hr style="color: grey; height: 15px; width: 90%;">
                        <h3>NGO</h3>
                        <p class="text-muted">
                            Looking for and connecting with new volunteers.
                        </p>
                        <div style="position: relative; top: 15%;" class="sbtn btn btn-outline-dark px-3">SignUp</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-4 px-3" style="height: fit-content; ">
                <div class="cards" style="background-color: white; height: 450px; border-radius: 10px; padding: 15px;">
                    <div class="p-2 d-flex flex-column align-items-center" style="height: 50%; border-radius: 10px;">
                        <img class="img-fluid" src="assets/volunteer.jpg" alt="">
                        <hr style="color: grey; height: 15px; width: 90%;">
                        <h3>Volunteer</h3>
                        <p class="text-muted">
                            Connecting with suitable NGO.
                        </p>
                        <div style="position: relative; top: 25%;" class="sbtn btn btn-outline-dark px-3">SignUp</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    
  </section><br><br>

  <div class="header">

    <a href="#home">Status</a>
    <a href="#contact">Privacy</a>
    <a href="#about">Terms</a>
    <a href="">Cookie Preferences</a>
    <a href="">Contact Us</a>
    <a href="">Change Region</a>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>
  var left = document.querySelector("#left")
  var name = document.querySelector("#name")
  var right = document.querySelector("#right")
  left.addEventListener("click", function() {
    var left = document.querySelector("#left")
    var name = document.querySelector("#name")
    var right = document.querySelector("#right")
    if (name.innerHTML === "Food Donation Drive") {
      name.innerHTML = "Beach Cleaning Drive";
      document.getElementById("image-container").style.backgroundImage = "url(https://images.unsplash.com/photo-1610093641855-31ffd617a94a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmVhY2glMjBjbGVhbnVwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)"
      document.getElementById("exp").style.color ="white"
    } else if (name.innerHTML === "Beach Cleaning Drive") {
      name.innerHTML = "Food Donation Drive"
      document.getElementById("image-container").style.backgroundImage = "url(https://images.unsplash.com/photo-1593113630400-ea4288922497?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)"
      document.getElementById("exp").style.color = "white"
    }
  })
  right.addEventListener("click", function() {
    var left = document.querySelector("#left")
    var name = document.querySelector("#name")
    var right = document.querySelector("#right")
    if (name.innerHTML === "Beach Cleaning Drive") {
      name.innerHTML = "Food Donation Drive";
      document.getElementById("image-container").style.backgroundImage = "url(https://images.unsplash.com/photo-1593113630400-ea4288922497?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)"
      document.getElementById("exp").style.color = "white"
    } else if (name.innerHTML === "Food Donation Drive") {
      name.innerHTML = "Beach Cleaning Drive"
      document.getElementById("image-container").style.backgroundImage = "url(https://images.unsplash.com/photo-1610093641855-31ffd617a94a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmVhY2glMjBjbGVhbnVwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)"
      document.getElementById("exp").style.color = "white"
    }
  })
</script>

</html>