<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/show.css">
    <div class="profile">

        <div class="profile-banner">

        </div>
        <div class="profile-picture">


            <!-- <a href="" class="follow">Follow <span class="entypo-plus"></span></a> -->

            <a href=""><img
                    src="https://images.unsplash.com/flagged/photo-1569118311341-145748f3f338?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmdvc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
            <br>
            <span>
                <h3><%= ngo.NgoName %></h3>
               
            </span>
            <br>

            <span><button class="apply btn btn-success">Apply</button></span>


        </div>
        <div class="container my-0 py-0">
            <div class="row">
                <div class="col-4 p-1">
                    <h4>Upcoming Events:</h4>
                    <ul class="px-3" style="font-size: medium;">
                        <li><a>Facebook</a></li>
                        <li><a>Facebook</a></li>
                        <li><a>Facebook</a></li>
                    </ul>
                    <hr>
                    <h4>Owner:</h4>
                    <h5 class=text-muted><%= ngo %></h5>
                    <hr>
                    <h4>Contact</h4>
                    <ul class="px-3" style="font-size: medium;">
                        <li><a>Facebook</a></li>
                        <li><a>Facebook</a></li>
                        <li><a>Facebook</a></li>
                    </ul>
                </div>
                <div class="col-8 p-1 px-5">
                    <h4>Description</h4>
                    <p style="font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
                        velit a
                        sed dolores similique
                        voluptate
                        ab libero aliquid explicabo eligendi quaerat, eveniet itaque optio nostrum? Quisquam ut
                        dicta
                        porro
                        explicabo.</p>
                    <h4>Events</h4>
                    <ul class="px-3" style="font-size: medium;">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>