@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
html,
body {
    
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand {
    color: rgb(49, 67, 119);
    font-size: 2rem;
}

p {
    font-size: 1.15rem;
}

.nav-link {
    color: gray;
    padding-right: 0px;
}

.navbar-nav {
    margin: auto;
}

.navbar {
    margin-left: 8%;
}

#image-container {
    width: 80%;
    height: 85%;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1593113630400-ea4288922497?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    filter: grayscale(1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
}

.content {
    padding-top: 5%;
}

.content p {
    color: rgb(49, 67, 119);
    font-size: 1.15rem;
}

.content h1 {
    color: #333;
    font-size: 4rem;
}

#search {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    margin: auto;
}

#search button {
    margin-bottom: 10%;
}

#search .row {
    width: 100%;
    margin: auto;
}

#search .btn-outline-dark {
    border-radius: 10px;
    border: 1px solid #333;
    color: #333;
}

.carcousel-c {
    width: 80%;
    margin: 2% 5%;
}

.navbar .btn-outline-light {
    color: rgb(49, 67, 119);
    background-color: transparent;
    border: transparent;
}

#left,
#name,
#right {
    margin-right: 2%;
    font-size: 1.5rem;
}

#left:hover,
#right:hover {
    cursor: pointer;
}

#SignUp {
    text-align: center;
    background-color: rgb(242, 220, 255);
    width: 95%;
    padding: 5% 5%;
    margin: auto;
    border-radius: 20px;
}

#SignUp .btn {
    margin-right: 5%;
}

#AboutUs {

    background-color: rgb(201, 216, 248);
    width: 95%;
    padding: 5% 5%;
    margin: auto;
    border-radius: 20px;
}

#AboutUs>div {
    font-family: 'Maven Pro', sans-serif;
}

.header {
    margin: auto;
    overflow: hidden;
    background-color: transparent;
    padding: 20px 10px;
    border-top: 2px solid #d2d2d7;
    width: 85%;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: royalblue;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.header .active {
    color: royalblue;
}

.sbtn{
    color: rgb(181, 181, 245);
    border: 2px solid rgb(181, 181, 245);
    font-weight: 600;
}

.sbtn:hover{
    background-color: rgb(181, 181, 245);
    color: white;
    border: 2px solid rgb(181, 181, 245);
}

.cards{
    transition: all 0.3s;
}

.cards:hover{
    transform:scale(1.05);
    box-shadow: -2px 2px 24px -4px rgba(229,166,221,0.89);
    -webkit-box-shadow: -2px 2px 24px -4px rgba(229,166,221,0.89);
    -moz-box-shadow: -2px 2px 24px -4px rgba(229,166,221,0.89);
}